body, html{
    background: url(../resources/background.png);
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
}



#navigation{
    width: 100%;
    display: inline-flexbox;
    font-size: 0px;
    position: absolute;
    top: 0;
    text-align: right;
}
#navigation ul{
    height: 100%;
    font-size: 0;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}


#navigation ul li{
    display: inline-block;
    font-size: 15px;
    font-family: "Segoe UI", "Lucida Grande", "Ubuntu", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 15px 20px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    cursor: default;
    margin-right: 10px;
}

#navigation ul li:hover{
    color: rgb(243, 228, 96);
    transform: scale(1.1);
    transition: 0.4s;
}

#navigation img{
    width: 30px;
    margin-left: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
#content{
    position: absolute;
    top: 0;
    left: 0;
}

#about{
    height: 100vh;
    background: url(../resources/about_bg.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#about .msg{
    font-size: 60px;
    font-family: "Segoe UI", "Lucida Grande", "Ubuntu", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: rgb(230, 230, 230);
    position: relative;
    top: 30vh;
    background: rgb(0, 0, 49);
    cursor: default;
}

.msganim{
    animation: msgAnim;
    animation-delay: 0;
    animation-duration: 4s;
    animation-iteration-count: 0;
    animation-direction: normal;
    animation-play-state: running;
}

#about .contact{
    position: relative;
    top: 35vh;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: default;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

#about .contact:hover{
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
}

.abcontainer{
    text-align: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.397);
}

#projects{
    height: 80vh;
    background: url(../resources/about_bg.jpg);
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#android{
    height: 80vh;
    width: 100%;
    position: relative;
    background: rgba(0, 255, 255, 0.384);
}