body, html{
    background: url(../resources/background.png);
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
}

#navigation{
    width: 100%;
    position: absolute;
    text-align: right;
}
#navbar{
    width: 100%;
    font-size: 0px;
    position: fixed;
    top:0;
}

#navbar ul{
    height: 100%;
    font-size: 0;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: relative;
    right: 5vh;
}


#navigation ul li{
    display: inline-block;
    font-size: 15px;
    font-family: "Segoe UI", "Lucida Grande", "Ubuntu", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 15px 20px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    cursor: default;
    margin-right: 10px;
}

#navigation ul li:hover{
    color: rgb(243, 228, 96);
    transform: scale(1.1);
    transition: 0.4s;
}

#content{
    position: relative;
    top: 0;
    left: 0;
}

#about{
    min-height: 500px;
    width: 100%;
    height: auto;
    background: url("../resources/about_bg.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.abcontainer{
    text-align: center;
    min-height: 500px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.397);
}

#msg{
    font-size: 60px;
    font-family: "Segoe UI", "Lucida Grande", "Ubuntu", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: rgb(230, 230, 230);
    position: relative;
    top: 35%;
    background: black;
    cursor: default;
}

#about .contacts{
    position: relative;
    top: 40%;
}

#about .contact{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: default;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#about .contact:hover{
    -webkit-transition: all 0.4s ease-in;
   -moz-transition: all 0.4s ease-in;
   -o-transition: all 0.4s ease-in;
   -ms-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 30px;
}

#projects{
    min-height: 80vh;
    background: beige;
    width: 100%;
    position: relative;
    text-align: center;
}

.project_list{
    position: absolute;
    top: 10vh;
    font-size: 0;
    width: 100%;
    height: auto;
}

.project_container{
    max-width: 300px;
    max-height: 300px;
    position: relative;
    width: 25%;
    height: auto;
    display: inline-block;
}


.project_container img{
    position: relative;
    width: 100%;
    height: auto;
}

#android{
    min-height: 70vh;
    width: 100%;
    position: relative;
    background: rgba(0, 255, 255, 0.384);
}

#contactinfo{
    height: 30em;
    font-size: 20px;
    width: 100%;
    background: black;
}